#pos {
  position: absolute;
  border: 2px solid black;
  width: 400px;
  background: white;
  z-index: 1;
}

#agenda-label {
  display: block;
}

form {
  padding-top: 1rem;
}

label {
  margin: .5em .5em;
  font-weight: bold;
}

input[type="text"] {
  box-sizing: border-box;
  width: 90%;
  padding: .1rem;
  margin: .5rem;
}

input[type="time"]{
  padding: .1rem;
  margin: .5em 0;
  border: 2px solid black !important;
}

select {
  color: #333;
  font-family: Cambria, Georgia, serif;
  padding: .1rem;
  margin: .5em 0;
  background: white;
  border: 2px solid black;
}

#time-box {

  margin-top: .5em;
}

#start-time {
}

.ng-valid, .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

#emails {
  border-left: 0px solid black !important;
}

h3 {
  margin-bottom: .5em;
  margin-left: .5em;
}

#email input{
  display: inline-block;
  float:right;
}

#remove {
  background-color: #eee;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: black;
  font-size: .8rem;
  padding: 0.2rem;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
  margin-top: 0;
}

#add-email {

  background-color: #eee;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: black;
  font-size: .8rem;
  padding: 0.5rem;
  margin-left: .5rem;
  margin-top: .5em;
  margin-bottom: 1rem;
}
