<div id="pos" [style.top.px]="y" [style.left.px]="x">
	<form [formGroup]="new_event" (ngSubmit)="onSubmit()">
		<label for="title">Title:</label>
		<input id="title" type="text" formControlName="title">
		<div id="time-box" formGroupName="date">
			<label for="start-time">Start Time:</label>
			<input id="start-time" type="time" formControlName="start_time">
			<label for="end-time">End Time:</label>
			<input id="end-time" type="time" formControlName="end_time">
		</div>
		<label for="event_type">Type:</label>
		<select id="event_type" name="event_type" formControlName="type">
			<option value="call">Call</option>
			<option value="meeting">Meeting</option>
			<option value="casual">Casual</option>
			<option value="task">Task</option>
		</select>
		<label for="urgency">Urgency:</label>
		<select id="urgency" name="urgency" formControlName="urgency">
			<option value="not_urgent">Not Urgent</option>
			<option value="moderate">Moderate</option>
			<option value="urgent">Urgent</option>
		</select>
		<label id="agenda-label" for="agenda">Agenda:</label>
		<input id="agenda" type="text" formControlName="agenda">
		<div formArrayName="emails" id="emails">
			<h3>Participants</h3>
			<button type="button" id="add-email" (click)="add_emails()">Add Email</button>
			<div *ngFor="let email of emails.controls;let i=index">
				<label for="email-{{ i }}">Emails:</label>
				<input id="email-{{ i }}" type="email" [formControlName]="i">
				<button type="button" id="remove" (click)="remove_email(i)">Remove Email</button>
			</div>
		</div>

		<button type="submit" [disabled]="!new_event.valid">Submit</button>
		<button *ngIf="event_obj" type="button" (click)="delete()">Delete</button>
		<button type="button" (click)="cancel()">Cancel</button>
	</form>
</div>
