<full-calendar defaultView="dayGridMonth" 
							 (dateClick)="handle_click($event)"
							 (eventClick)="handle_event_click($event)"
							 [plugins]="calendarPlugins"
							 [events]="events"

							 ></full-calendar>


<app-event-popup [x]="x" [y]="y" *ngIf="x && y"
							 (event)="get_event($event)"
							 [event_obj]="event"></app-event-popup>
